*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: auto;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
header{
    background-color: palevioletred;
    height: 150px;
}
/*Main*/
.main_content{
    background-color: paleturquoise;
    height: 600px;
}
.left_column{
    float: left;
    width: 20%;
    height: 100%;
    background-color: rgb(196, 165, 144);
}
.content{
    float: left;
    width: 60%;
    height: 100%;
    background-color: rgb(218, 81, 218);
}